<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.maxixi.yuanqu">

    <!-- 权限网络，本地 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 写入SD卡的权限：如果你希望保存相机拍照后的照片 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SD卡的权限:打开相册选取图片所必须的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx3b685e9343096c49" />
            </intent-filter>
        </activity>

        <!-- 注册容器 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
        <activity android:name=".perkservice.Parkservice_yuannei" />
        <activity android:name=".cloud.cloud_zuling" />
        <activity android:name=".cloud.cloud_chuangye" />
        <activity android:name=".cloud.cloud_chuangye_shenqing" />
        <activity android:name=".cloud.cloud_chuangye_chuangye" />
        <activity android:name=".cloud.cloud_zuling_mizu" />
        <activity android:name=".cloud.cloud_zuling_zupc" />
        <activity
            android:name=".diancan.diancan"
            android:launchMode="singleTop" />
        <activity
            android:name=".diancan.diancan_queren"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".diancan.diancan_queren_dizhiguanli" />
        <activity android:name=".cloud.cloud_jinrong" />
        <activity android:name=".cloud.cloud_jingrong_jinrong" />
        <activity android:name=".cloud.cloud_jinrong_shenqing" />
        <activity android:name=".diancan.diancan_tianjiadizhi" />
        <activity android:name=".personal.waimaijilu.waimaijilu" />
        <activity
            android:name=".personal.tingche.tingchejilu"
            android:launchMode="singleTop" />
        <activity android:name=".personal.renzhengqiye" />
        <activity android:name=".personal.tingche.tingche_linshicheliang" />
        <activity android:name=".personal.tingche.tingche_yuekacheliang" />
        <activity android:name=".personal.tingche.tingchejilujilu" />
        <activity android:name=".cloud.qiyefuwu.cloud_qiyefuwu" />
        <activity android:name=".cloud.qiyefuwu.cloud_qiyefuwu_gongshangzhuce" />
        <activity android:name=".perkservice.parksevice_yuanei_zixun" />
        <activity android:name=".perkservice.parkservice_yuanei_tousu" />
        <activity android:name=".perkservice.parkservice_yuannei_baoxiu" />
        <activity android:name=".cloud.cloud_zhengfu" />
        <activity android:name=".cloud.cloud_zhengfu_zhengfu" />
        <activity android:name=".cloud.cloud_zhengfu_zhengfu_shenqing" />
        <activity android:name=".personal.yunfuwushenqingfuwu.yunfuwushenqingfuwu" />
        <activity
            android:name=".Loginpage"
            android:launchMode="singleTop" />
        <activity android:name=".personal.yuanneifuwujilu.Yuanqufujilu" />
        <activity android:name=".cloud.qiyefuwu.cloud_qiyefuwu_gongshangzhuceSQ" />
        <activity android:name=".cloud.qiyefuwu.cloud_qiyefuwu_zhishichanquan" />
        <activity android:name=".cloud.qiyefuwu.cloud_qiyefuwu_shejiyinshua" />
        <activity android:name=".cloud.qiyefuwu.cloud_qiyefuwu_caiwudaili" />
        <activity android:name=".personal.yuanneifuwujilu.Yuanqutousulist" />
        <activity android:name=".personal.yuanneifuwujilu.Yuanqubaoxiulist" />
        <activity android:name=".personal.yunfuwushenqingfuwu.Yfuwushenqinglist" />
        <activity android:name=".personal.usermsset" />
        <activity android:name=".personal.tingche.tingchejilu_personal_list" />
        <activity android:name=".perkservice.parkservice_yuannei_yuanqujieshao"></activity>
    </application>

</manifest><!--
    standard：每次调用startActivity()启动时都会创建一个新的Activity放在栈顶
    　　注:默认都是这个模式
    singleTop：启动Activity时，指定Activity不在栈顶就创建，如在栈顶，则不再创建
    　　注:不会出现两个相同的Activity相邻
    singleTask：如果启动的Activity不存在就创建Activity，如果存在直接跳转到指定的Activity所在位置
    　　注:在其上面的Activity会被移出栈,也就是一个栈中不能有重复的Activity
    singleInstance：如果启动的Activity不存在就创建一个Activity同时创建一个栈，如果存在就将指定的Activity存在的栈移动到栈顶
--><!--
//
//                       _oo0oo_
//                      o8888888o
//                      88" . "88
//                      (| -_- |)
//                      0\  =  /0
//                    ___/` - '\___
//                  .' \\|     |// '.
//                 / \\|||  :  |||// \
//                / _||||| -:- |||||- \
//               |   | \\\  -  /// |   |
//               | \_|  ''\ - /''  |_/ |
//               \  .-\__  '-'  ___/-. /
//             ___'. .'  / -.- \  `. .'___
//          ."" '<  `.___\_<|>_/___.' >' "".
//         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
//         \  \ `_.   \_ __\ /__ _/   .-` /  /
//     =====`-.____`.___ \_____/___.-`___.-'=====
//                        `=-='
//
//                    www.mzujie.com
//
//             ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//               佛祖保佑         永无BUG
//               服务器稳         永不宕机
//               流量翻倍         来路精准
//               下单多多         万世长存
//             ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~富强、民主、文明、和谐、自由、平等、公正、法治、爱国、敬业、诚信、友善~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
