<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.maxixi.yuanqu">

    <!-- 权限网络，本地 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 写入SD卡的权限：如果你希望保存相机拍照后的照片 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SD卡的权限:打开相册选取图片所必须的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 注册容器 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
        <activity android:name=".perkservice.Parkservice_yuannei" />
        <activity android:name=".cloud.cloud_zuling" />
        <activity android:name=".cloud.cloud_chuangye" />
        <activity android:name=".cloud.cloud_chuangye_shenqing" />
        <activity android:name=".cloud.cloud_chuangye_chuangye" />
        <activity android:name=".cloud.cloud_zuling_mizu" />
        <activity android:name=".cloud.cloud_zuling_zupc" />
        <activity
            android:name=".diancan.diancan"
            android:launchMode="singleTop" />
        <activity
            android:name=".diancan.diancan_queren"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".diancan.diancan_queren_dizhiguanli" />
        <activity android:name=".cloud.cloud_jinrong" />
        <activity android:name=".cloud.cloud_jingrong_jinrong" />
        <activity android:name=".cloud.cloud_jinrong_shenqing" />
        <activity android:name=".diancan.diancan_tianjiadizhi" />
        <activity android:name=".personal.waimaijilu" />
        <activity
            android:name=".personal.tingche.tingchejilu"
            android:launchMode="singleTop" />
        <activity android:name=".personal.renzhengqiye" />
        <activity android:name=".personal.tingche.tingche_linshicheliang" />
        <activity android:name=".personal.tingche.tingche_yuekacheliang" />
        <activity android:name=".personal.tingche.tingchejilujilu" />
        <activity android:name=".cloud.qiyefuwu.cloud_qiyefuwu" />
        <activity android:name=".cloud.qiyefuwu.cloud_qiyefuwu_gongshangzhuce" />
        <activity android:name=".perkservice.parksevice_yuanei_zixun" />
        <activity android:name=".perkservice.parkservice_yuanei_tousu" />
        <activity android:name=".perkservice.parkservice_yuannei_baoxiu" />
        <activity android:name=".cloud.cloud_zhengfu" />
        <activity android:name=".cloud.cloud_zhengfu_zhengfu" />
        <activity android:name=".cloud.cloud_zhengfu_zhengfu_shenqing" />
        <activity android:name=".personal.yunfuwushenqingfuwu.yunfuwushenqingfuwu" />
        <activity
            android:name=".Loginpage"
            android:launchMode="singleTop" />
        <activity android:name=".personal.yuanneifuwujilu.Yuanqufujilu" />
        <activity android:name=".cloud.qiyefuwu.cloud_qiyefuwu_gongshangzhuceSQ" />
        <activity android:name=".cloud.qiyefuwu.cloud_qiyefuwu_zhishichanquan" />
        <activity android:name=".cloud.qiyefuwu.cloud_qiyefuwu_shejiyinshua" />
        <activity android:name=".cloud.qiyefuwu.cloud_qiyefuwu_caiwudaili" />
        <activity android:name=".personal.yuanneifuwujilu.Yuanqutousulist" />
        <activity android:name=".personal.yuanneifuwujilu.Yuanqubaoxiulist" />
        <activity android:name=".personal.yunfuwushenqingfuwu.Yfuwushenqinglist"></activity>
    </application>

</manifest><!--
    standard：每次调用startActivity()启动时都会创建一个新的Activity放在栈顶
    　　注:默认都是这个模式
    singleTop：启动Activity时，指定Activity不在栈顶就创建，如在栈顶，则不再创建
    　　注:不会出现两个相同的Activity相邻
    singleTask：如果启动的Activity不存在就创建Activity，如果存在直接跳转到指定的Activity所在位置
    　　注:在其上面的Activity会被移出栈,也就是一个栈中不能有重复的Activity
    singleInstance：如果启动的Activity不存在就创建一个Activity同时创建一个栈，如果存在就将指定的Activity存在的栈移动到栈顶
-->
